Repository hmcts/div-ccd-definitions, pull requests merged in 2019-09, with the labels that each got.

#212 DIV-5290 Add DAOverdue state and CaseEvent
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/State.json
Labels: ns:div-ccd-definitions-pr-212

#227 Solicitor AOS - Response - Behaviour & Desertion (+ DNDrafted permissions)
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/FixedLists.json
Labels: ns:div-ccd-definitions-pr-227

#237 DIV-5707 - add solicitor read permission to AwaitingReissue
  definitions/divorce/json/AuthorisationCaseState.json
Labels: ns:div-ccd-definitions-pr-237

#229 callback url added for when aos overdue
  definitions/divorce/json/CaseEvent.json
Labels: ns:div-ccd-definitions-pr-229

#238 DIV-5707 - prod permissions
  charts/div-ccd-definitions/requirements.yaml
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseState.json
  definitions/divorce/json/CaseType.json
Labels: ns:div-ccd-definitions-pr-238

#242 Fixed list updated for AOS offline invitation letters
  definitions/divorce/json/FixedLists.json
Labels: ns:div-ccd-definitions-pr-242

#179 DIV-3867 refusal order feature branch
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/CaseTypeTab.json
  definitions/divorce/json/FixedLists.json
Labels: ns:div-ccd-definitions-pr-179

#239 DIV-5710 - add Bury St Edmunds to RDC fixed list
  definitions/divorce/json/FixedLists.json
Labels: ns:div-ccd-definitions-pr-239

#249 Div 4853 remove bulk listing prod
  .nvmrc
  Dockerfile
  Jenkinsfile_CNP
  README.md
  definitions/bulk-action/json/AuthorisationCaseEvent.json
  definitions/bulk-action/json/CaseEvent.json
  definitions/bulk-action/json/CaseEventToFields.json
  definitions/bulk-action/json/CaseType.json
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseType.json
  definitions/divorce/json/State.json
  package.json
  test/functional/admin_test.js
  test/functional/steps_file.js
Labels: ns:div-ccd-definitions-pr-249

#250 Add Birmingham DN court
  definitions/bulk-action/json/FixedLists.json
  definitions/divorce/json/FixedLists.json
Labels: ns:div-ccd-definitions-pr-250

#246 DIV-5730 missing doc link fix
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/CaseEvent.json
Labels: ns:div-ccd-definitions-pr-246

#224 DIV-4664: Updated event permissions for resp sol events
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/State.json
  package.json
Labels: ns:div-ccd-definitions-pr-224

#255 cherry picked changes from DIV-5391 (notification upon AOS Overdue) and Div-5191 (Respon…
  README.md
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/CaseType.json
Labels: ns:div-ccd-definitions-pr-255

#261 DIV-5708 DIV-5824 DIV-5813 sync prod with master
  definitions/divorce/json/AuthorisationCaseEvent.json
Labels: ns:div-ccd-definitions-pr-261

#198 DIV-5495 - Add extra sol fields to update contact event
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/CaseField.json
Labels: ns:div-ccd-definitions-pr-198

#264 DIV-5824 DIV-5813 - sync missing prod changes into master
  README.md
  definitions/bulk-action/json/CaseType.json
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/CaseType.json
  definitions/divorce/json/CaseTypeTab.json
  definitions/divorce/json/FixedLists.json
  test/unit/definitions/divorce/UserEventAuthorisation.test.js
Labels: ns:div-ccd-definitions-pr-264

#258 DIV-5809 Ensure read permissions minimum for all users
  .eslintrc.json
  definitions/divorce/json/AuthorisationCaseState.json
  test/unit/definitions/divorce/UserRoleStateAuth.test.js
Labels: ns:div-ccd-definitions-pr-258

#269 DIV-5835 Update labels for tabs/form to be more specific
  definitions/divorce/json/CaseField.json
Labels: ns:div-ccd-definitions-pr-269

#260 DIV-5621 added solApplyForDA event
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/CaseField.json
Labels: ns:div-ccd-definitions-pr-260

#266 DIV-5825: Prod fix to clear case state on cases
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/CaseEvent.json
Labels: ns:div-ccd-definitions-pr-266

#270 DIV-5782 Added gender fields for updateContactDetails
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/CaseField.json
Labels: ns:div-ccd-definitions-pr-270
