Repository hmcts/div-ccd-definitions, pull requests merged in 2019-12, with the labels that each got.

#319 BSP-115: added bulkScanCaseReference and events needed for BSP 2.1
  charts/div-ccd-definitions/Chart.yaml
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseField.json
Labels: ns:div-ccd-definitions-pr-319

#323 BSP-103: Section 4 Details of Marriage/Civil Partnership - New Fields
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/CaseTypeTab.json
Labels: ns:div-ccd-definitions-pr-323

#324 new field D8LegalProceedingsDetailsCaseNumber added
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/CaseTypeTab.json
  definitions/divorce/json/UserProfile.json
Labels: ns:div-ccd-definitions-pr-324
