Repository hmcts/div-ccd-definitions, pull requests merged in 2019-07, with the labels that each got.

#81 DIV-4850 - build a CCD instance per PR
  .eslintrc.json
  .gitignore
  Dockerfile
  Jenkinsfile_CNP
  README.md
  charts/div-ccd-definitions/Chart.yaml
  charts/div-ccd-definitions/requirements.yaml
  charts/div-ccd-definitions/values.preview.template.yaml
  charts/div-ccd-definitions/values.yaml
  config/default.yaml
  index.js
  package.json
  sonar-project.properties
  test/functional/codecept.conf.js
  test/functional/roles_test.js
  test/functional/steps_file.js
  test/unit/definitions/divorce/CaseTypeTab.test.js
  yarn.lock
Labels: ns:div-ccd-definitions-pr-81

#153 Merge in Prod bug fixes into master
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/AuthorisationCaseState.json
  definitions/divorce/json/AuthorisationCaseType.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields.json
Labels: ns:div-ccd-definitions-pr-153

#162 DIV-4945 Remove unused callback
  definitions/divorce/json/CaseEvent.json
Labels: ns:div-ccd-definitions-pr-162

#163 RDM-5453 - DA release cherry picked
  .eslintrc.json
  .gitignore
  Dockerfile
  Jenkinsfile_CNP
  README.md
  charts/div-ccd-definitions/Chart.yaml
  charts/div-ccd-definitions/requirements.yaml
  charts/div-ccd-definitions/values.preview.template.yaml
  charts/div-ccd-definitions/values.yaml
  config/default.yaml
  definitions/bulk-action/json/CaseEvent.json
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/CaseType.json
  definitions/divorce/json/CaseTypeTab.json
  definitions/divorce/json/FixedLists.json
  index.js
  package.json
  sonar-project.properties
  test/functional/codecept.conf.js
  test/functional/roles_test.js
  test/functional/steps_file.js
  test/unit/definitions/divorce/CaseTypeTab.test.js
  yarn.lock
Labels: ns:div-ccd-definitions-pr-163

#172 Set cms service token
  README.md
  charts/div-ccd-definitions/values.preview.template.yaml
Labels: ns:div-ccd-definitions-pr-172

#166 DIV-5492 Add drop bulk case event
  definitions/bulk-action/json/AuthorisationCaseEvent.json
  definitions/bulk-action/json/AuthorisationCaseState.json
  definitions/bulk-action/json/CaseEvent.json
  definitions/bulk-action/json/CaseEventToFields.json
  definitions/bulk-action/json/CaseType.json
  definitions/bulk-action/json/State.json
Labels: ns:div-ccd-definitions-pr-166

#181 Div 5490 config validation
  .eslintrc.json
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields.json
  test/unit/definitions/divorce/GenericValidation.test.js
  test/unit/definitions/divorce/UserEventAuthorisation.test.js
Labels: ns:div-ccd-definitions-pr-181
