Repository hmcts/div-ccd-definitions, pull requests merged in 2019-08, with the labels that each got.

#186 Ensure petition tab fields are in order in the JSON
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseTypeTab.json
Labels: ns:div-ccd-definitions-pr-186

#180 Confirm service solicitor event
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/FixedLists.json
  definitions/divorce/json/State.json
Labels: ns:div-ccd-definitions-pr-180

#177 Adding new event to issue AOS pack (offline) for Respondent
  .gitignore
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseType.json
Labels: ns:div-ccd-definitions-pr-177

#185 DIV-5301 caseworker tab service info
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/CaseTypeTab.json
Labels: ns:div-ccd-definitions-pr-185

#188 Div 5268 confirm service by caseworker
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/FixedLists.json
Labels: ns:div-ccd-definitions-pr-188

#190 DIV-5475: Adding new event to issue AOS pack (offline) for Co-Respondent
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseType.json
Labels: ns:div-ccd-definitions-pr-190

#194 DIV-5471: adapting to changes in story
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/CaseEvent.json
Labels: ns:div-ccd-definitions-pr-194

#193 DIV-5556 Solicitor can't view case in certain states
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseState.json
Labels: ns:div-ccd-definitions-pr-193

#195 DIV 5500 Give RDC Caseworker AwaitingReissue permissions
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseType.json
Labels: ns:div-ccd-definitions-pr-195

#196 Added Nottingham Justice Centre
  definitions/bulk-action/json/CaseType.json
  definitions/bulk-action/json/FixedLists.json
  definitions/divorce/json/CaseType.json
  definitions/divorce/json/FixedLists.json
Labels: ns:div-ccd-definitions-pr-196

#202 Add new testDaRequested event to be used by div-test-harness to set u…
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseType.json
Labels: ns:div-ccd-definitions-pr-202

#197 [NO-CCD]Added edit for listing
  definitions/bulk-action/json/AuthorisationCaseEvent.json
  definitions/bulk-action/json/CaseEvent.json
  definitions/bulk-action/json/CaseEventToFields.json
Labels: ns:div-ccd-definitions-pr-197

#171 [WIP] Solicitor service method
  README.md
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/CaseTypeTab.json
  definitions/divorce/json/FixedLists.json
  definitions/divorce/json/State.json
  test/functional/admin_test.js
Labels: ns:div-ccd-definitions-pr-171

#214 Update to the latest Helm charts
  charts/div-ccd-definitions/requirements.yaml
  charts/div-ccd-definitions/values.preview.template.yaml
Labels: ns:div-ccd-definitions-pr-214

#199 DIV-4945 Adding solicitor permissions for PETSOL role
  charts/div-ccd-definitions/values.preview.template.yaml
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseState.json
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/UserProfile.json
Labels: ns:div-ccd-definitions-pr-199

#219 DIV-4945 Added missing Roles tab
  charts/div-ccd-definitions/values.preview.template.yaml
  definitions/divorce/json/CaseRoles.json
  definitions/divorce/json/CaseType.json
  definitions/divorce/json/UserProfile.json
Labels: ns:div-ccd-definitions-pr-219

#226 Adding missing auth for DN Drafted state
  definitions/divorce/json/AuthorisationCaseState.json
Labels: ns:div-ccd-definitions-pr-226

#216 DIV 4853 Remove Bulk Listing
  definitions/bulk-action/json/AuthorisationCaseEvent.json
  definitions/bulk-action/json/CaseEvent.json
  definitions/bulk-action/json/CaseEventToFields.json
  definitions/bulk-action/json/CaseType.json
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseType.json
  definitions/divorce/json/State.json
Labels: ns:div-ccd-definitions-pr-216
