Repository hmcts/div-ccd-definitions, pull requests merged in 2019-10, with the labels that each got.

#271 DIV-5780: Adding missing document types for AOS offline
  definitions/divorce/json/FixedLists.json
Labels: ns:div-ccd-definitions-pr-271

#210 DIV-4961 - Solicitor Personal Service
  README.md
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/CaseTypeTab.json
  definitions/divorce/json/FixedLists.json
  definitions/divorce/json/State.json
  test/functional/admin_test.js
Labels: ns:div-ccd-definitions-pr-210

#276 Allow CoRespondent to submit a AosAwaitingSol case
  README.md
  definitions/divorce/json/CaseEvent.json
  test/unit/definitions/divorce/UserEventAuthorisation.test.js
Labels: ns:div-ccd-definitions-pr-276

#274 prepared ccd config for recovering missing documents
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseType.json
Labels: ns:div-ccd-definitions-pr-274

#280 Div 3867 fix rejection label
  definitions/divorce/json/FixedLists.json
Labels: ns:div-ccd-definitions-pr-280

#241 Added notification Submitted callback endpoints
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseType.json
Labels: ns:div-ccd-definitions-pr-241

#288 DIV-5864 solicitor DN provide clarification
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/AuthorisationCaseState.json
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/UserProfile.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
  test/unit/definitions/divorce/AuthorisationCaseField.test.js
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
  test/unit/definitions/divorce/AuthorisationCaseType.test.js
  test/unit/definitions/divorce/CaseEventToFields.test.js
Labels: ns:div-ccd-definitions-pr-288

#290 DIV-5718: Change endpoint to a more RESTful name
  definitions/divorce/json/CaseEvent.json
Labels: ns:div-ccd-definitions-pr-290

#275 DIV-5717: AOS Offline Scanned Data Entry
  definitions/bulk-action/json/CaseEvent.json
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/FixedLists.json
Labels: ns:div-ccd-definitions-pr-275

#286 Div 5773 admin error
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/CaseTypeTab.json
  definitions/divorce/json/FixedLists.json
  definitions/divorce/json/State.json
  package.json
Labels: ns:div-ccd-definitions-pr-286

#296 [NOCCD] Update README.md with submodule and CCD PR instructions
  README.md
  package.json
Labels: ns:div-ccd-definitions-pr-296

#297 Feature toggle - AOS Offline Received events
  definitions/divorce/json/AuthorisationCaseEvent.json
Labels: ns:div-ccd-definitions-pr-297

#295 DIV-5763: Modify AOS Tab to accommodate the AOS offline journey
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/CaseTypeTab.json
Labels: ns:div-ccd-definitions-pr-295

#291 added search criteria and filters for digital DN and DA journey
  definitions/divorce/json/SearchInputFields.json
  definitions/divorce/json/WorkBasketInputFields.json
Labels: ns:div-ccd-definitions-pr-291

#302 Add SU permission on state field
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseType.json
Labels: ns:div-ccd-definitions-pr-302

#303 Cleaning state after dynamically setting it
  definitions/divorce/json/CaseEvent.json
Labels: ns:div-ccd-definitions-pr-303

#287 [NO-CCD]DIV-5858 Refusal draft
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/CaseField.json
Labels: ns:div-ccd-definitions-pr-287

#300 DIV-5915 Allow Aos submission from AoS overdue
  definitions/divorce/json/CaseEvent.json
Labels: ns:div-ccd-definitions-pr-300

#304 DIV-5940 - Allow super user to delete a note
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseEventToFields.json
Labels: ns:div-ccd-definitions-pr-304

#305 DIV-5718: Give caseworkers ability to clean a case's state
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField.json
Labels: ns:div-ccd-definitions-pr-305

#307 DIV-4803: Remove redundant AOS tab UIOnly_RespWillDefendDivorce field
  definitions/divorce/json/CaseTypeTab.json
Labels: ns:div-ccd-definitions-pr-307

#301 Div-5234 clarification email
  definitions/divorce/json/CaseEvent.json
Labels: ns:div-ccd-definitions-pr-301

#265 AOS Solicitor 2/5/Adultery
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/FixedLists.json
Labels: ns:div-ccd-definitions-pr-265

#310 DIV-4803: Enabling co-respondent offline AOS answers from any state.
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields.json
Labels: ns:div-ccd-definitions-pr-310

#313 Fix dn clarification sol
  definitions/divorce/json/AuthorisationCaseEvent.json
Labels: ns:div-ccd-definitions-pr-313

#298 DIV-5892 Amend show hide condition for confidentiality clause
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseTypeTab.json
Labels: ns:div-ccd-definitions-pr-298

#279 Jurisdiction content changes for Sols Journey
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/FixedLists.json
Labels: ns:div-ccd-definitions-pr-279

#299 Added ordering by Last Modified Ascending
  definitions/divorce/json/WorkBasketResultFields.json
Labels: ns:div-ccd-definitions-pr-299
