Repository hmcts/div-ccd-definitions, pull requests merged in 2020-09, with the labels that each got.

#460 DIV-6480: Adding new endpoint to 'aosNotReceived' event (feature-togg…
  definitions/divorce/json/CaseEvent/CaseEvent-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-460

#463 DIV-6480: Adding new doctype
  definitions/divorce/json/FixedLists/FixedLists.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-463

#462 DIV-6142: general order draft and final
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-general-order-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-general-order-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-general-order-nonprod.json
  definitions/divorce/json/CaseField/CaseField-general-order-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-general-order-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-462

#464 DIV-6142: check your answer page for event createGeneralOrder
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-general-order-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-464

#466 DIV-6142: '/create-general-order/draft' should be added to page before the draft doc is displayed
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-general-order-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-466

#465 DIV-6479: Allow solicitor to amend from state 'AwaitingAmendCase'
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-pet-amend-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-pet-amend-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
  test/unit/definitions/divorce/CaseEventToFields.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-465

#467 DIV-6190: create general email
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-general-email-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-general-email-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-general-email-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-general-email-nonprod.json
  definitions/divorce/json/CaseField/CaseField-general-email-nonprod.json
  definitions/divorce/json/FixedLists/FixedLists-general-email-nonprod.json
  package.json
  test/unit/definitions/divorce/CaseEventToFields.test.js
  yarn.lock
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-467

#468 DIV-6142: GeneralOrderDraft on event page should be READONLY
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-general-order-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-468

#469 DIV-6240: RetriesTimeoutURLMidEvent moved to the right definition
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-general-order-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  test/unit/definitions/divorce/CaseEventToFields.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-469

#471 DIV-6142: use CallBackURLAboutToSubmitEvent instead of CallBackURLSubmittedEvent
  definitions/divorce/json/CaseEvent/CaseEvent-general-order-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-471

#470 DIV-6142: add all fields on page creategeneralemail
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-general-email-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-470

#473 DIV-6142: add 'Check your answer page' for event createGeneralOrder
  definitions/divorce/json/CaseEvent/CaseEvent-general-order-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-general-order-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-473

#477 DIV-6190: check your answer
  definitions/divorce/json/CaseEvent/CaseEvent-general-email-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-general-email-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-477

#476 Move PCQ config into prod files
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-pcq-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/divorce/json/AuthorisationCaseType/AuthorisationCaseType-pcq-nonprod.json
  definitions/divorce/json/AuthorisationCaseType/AuthorisationCaseType.json
  definitions/divorce/json/CaseField/CaseField-pcq-nonprod.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-pcq-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  test/unit/definitions/divorce/CaseEventToFields.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-476

#475 DIV-6525-Updating-document-names-to-follow-convention
  definitions/divorce/json/FixedLists/FixedLists-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/FixedLists/FixedLists-general-order-nonprod.json
  definitions/divorce/json/FixedLists/FixedLists.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-475

#478 AuthorisationCaseState must use existing states
  Jenkinsfile_CNP
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-pet-amend-prod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
  package.json
  test/functional/admin_test.js
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
  test/unit/definitions/divorce/UserRoleStateAuth.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-478

#481 Move PCQ casefield auths to prod file
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-pcq-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-481

#482 Unit test if fields and events used to grant permissions exist
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
  test/unit/definitions/divorce/AuthorisationCaseField.test.js
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
  test/unit/utils/assertBuilders.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-482

#484 DIV-6190: add 'DisplayOrder' to 'GeneralEmailPartiesEnum'
  definitions/divorce/json/FixedLists/FixedLists-general-email-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-484

#485 DIV-6190: Respondent should be before Co-respondent on the GeneralEmailPartiesEnum list
  definitions/divorce/json/FixedLists/FixedLists-general-email-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-485

#483 DIV-6475: 'I want to amend my application' release
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-pet-amend-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-pet-amend-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent/CaseEvent-pet-amend-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/State/State-pet-amend-nonprod.json
  definitions/divorce/json/State/State.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
  test/unit/definitions/divorce/CaseEvent.test.js
  test/unit/definitions/divorce/CaseEventToFields.test.js
  test/unit/definitions/divorce/UserRoleStateAuth.test.js
  test/unit/utils/utils.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-483

#472 DIV-6502: callback endpoint for general email
  definitions/divorce/json/CaseEvent/CaseEvent-general-email-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-472

#486 DIV-6526: DivorceGeneralOrder complex type
  definitions/divorce/json/CaseField/CaseField-general-order-nonprod.json
  definitions/divorce/json/ComplexTypes/ComplexTypes-general-order-nonprod.json
  definitions/divorce/json/ComplexTypes/ComplexTypes.json
  definitions/divorce/json/FixedLists/FixedLists-general-email-nonprod.json
  definitions/divorce/json/FixedLists/FixedLists-general-order-nonprod.json
  test/unit/definitions/divorce/GenericValidation.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-486

#480 DIV-6499-Extend-multiple-events-so-ServiceApplicationNotApproved-is-part-of-pre-state-events
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-480

#423 RPET-192-Confidential-documents tab
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  definitions/divorce/json/ComplexTypes/ComplexTypes.json
  definitions/divorce/json/FixedLists/FixedLists.json
  test/unit/definitions/divorce/CaseTypeTab.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-423

#488 Div 6531 allow aos events from service application not approved
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-deemed-and-dispensed-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-488

#491 DIV-6509: Add ServiceApplicationNotApproved
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-deemed-and-dispensed-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-491

#492 DIV-6443: update list of excluded states
  test/unit/definitions/divorce/UserRoleStateAuth.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-492

#494 DIV-6509-Update name and descriptions
  definitions/divorce/json/CaseEvent/CaseEvent-deemed-and-dispensed-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-494

#493 DIV-6561-Adding-new-Service-Application-documents-collection-definition
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseField/CaseField-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-prod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  test/unit/definitions/divorce/CaseTypeTab.test.js
  test/unit/utils/caseTabTypeHelper.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-493
