Repository hmcts/div-ccd-definitions, pull requests merged in 2020-08, with the labels that each got.

#431 PCQ-369: Add missing states for caseworker-divorce-pcqextractor role
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-pcq-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-pet-amend-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-431

#433 DIV-5411, DIV-5414, DIV-6236: make service decision + event and flow
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-deemed-and-dispensed-prod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-pet-amend-prod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent/CaseEvent-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseField/CaseField-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/State/State-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/State/State.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
  test/unit/definitions/divorce/UserRoleStateAuth.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-433

#436 DIV-6237: new type of d8 generated documents - dispenseWithServiceGranted
  definitions/divorce/json/FixedLists/FixedLists.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-436

#440 DIV-6238: added d8 doc type: deemedAsServedGranted
  definitions/divorce/json/FixedLists/FixedLists.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-440

#439 DIV-6470: Removing unwanted states from event
  definitions/divorce/json/CaseEvent/CaseEvent.json
  package.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
  yarn.lock
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-439

#438 DIV-6234: Deemed Dispensed details saved to service application tab
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseField/CaseField-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  definitions/divorce/json/FixedLists/FixedLists.json
  package.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
  test/unit/definitions/divorce/AuthorisationCaseField.test.js
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
  test/unit/definitions/divorce/CaseTypeTab.test.js
  test/unit/utils/utils.js
  yarn.lock
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-438

#442 DIV-5411: replace state AwaitingDNApplication with AwaitingDecreeNisi
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/State/State-deemed-and-dispensed-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-442

#437 DIV 6213 service payment screens
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseField/CaseField-deemed-and-dispensed-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-437

#444 DIV-6213-Update-precondition-to-AwaitingServicePayment
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-deemed-and-dispensed-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-444

#445 DIV-6494: Re-using existing fields instead of adding new ones
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseField/CaseField-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-deemed-and-dispensed-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-445

#456 DIV-6094: When deemed or dispensed approved, display text, not respondent answers document
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseField/CaseField-deemed-and-dispensed-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-456

#457 DIV-6141: Create general order event (first page)
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-general-order-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-general-order-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-general-order-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-general-order-nonprod.json
  definitions/divorce/json/CaseField/CaseField-general-order-nonprod.json
  definitions/divorce/json/FixedLists/FixedLists-general-order-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-457
