Repository hmcts/div-ccd-definitions, pull requests merged in 2020-12, with the labels that each got.

#576 DIV-6643: Adding event to move case into AwaitingDecreeNisi for cases…
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-alternative-service-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-alternative-service-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-576

#578 RPET-629 : Fix for petition amendment journey for solicitor, Display …
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-578

#584 DIV-6644: 'submitted' callback /alternative-service-confirmed moved to event 'aosNotReceivedForAltMethod'
  definitions/divorce/json/CaseEvent/CaseEvent-alternative-service-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-584

#587 fix for https://www.npmjs.com/advisories/1589
  package.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-587
