Repository hmcts/div-ccd-definitions, pull requests merged in 2020-10, with the labels that each got.

#496 DIV-6496: Making enum name more generic and reusable
  definitions/divorce/json/CaseField/CaseField-general-order-nonprod.json
  definitions/divorce/json/ComplexTypes/ComplexTypes-general-order-nonprod.json
  definitions/divorce/json/FixedLists/FixedLists-general-email-nonprod.json
  definitions/divorce/json/FixedLists/FixedLists-general-order-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-496

#499 fix ccd definitions key-vault access
  charts/div-ccd-definitions/values.preview.template.yaml
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-499

#505 DIV-6595: add more permissions to be able to trigger event more than once
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-deemed-and-dispensed-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-505

#498 DIV-6504: added complex type DivorceServiceApplication and collection of it
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseField/CaseField-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/ComplexTypes/ComplexTypes-deemed-and-dispensed-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-498

#510 Update FieldTypeParameter to make more generic
  definitions/divorce/json/CaseField/CaseField-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/ComplexTypes/ComplexTypes-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/FixedLists/FixedLists.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-510

#509 DIV-6182-General-referral-event-fields-and-screen
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-general-referral-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-general-referral-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-general-referral-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-general-referral-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-general-referral-nonprod.json
  definitions/divorce/json/CaseField/CaseField-general-email-nonprod.json
  definitions/divorce/json/CaseField/CaseField-general-referral-nonprod.json
  definitions/divorce/json/FixedLists/FixedLists-general-email-nonprod.json
  definitions/divorce/json/FixedLists/FixedLists-general-referral-nonprod.json
  definitions/divorce/json/State/State-general-referral-nonprod.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
  test/unit/definitions/divorce/AuthorisationCaseField.test.js
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
  test/unit/definitions/divorce/CaseEvent.test.js
  test/unit/definitions/divorce/CaseEventToFields.test.js
  test/unit/definitions/divorce/CaseTypeTab.test.js
  test/unit/definitions/divorce/UserRoleStateAuth.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-509

#512 DIV-6594: Adding "AosAwaiting" to the list of pre-states for "Service…
  definitions/divorce/json/CaseEvent/CaseEvent-deemed-and-dispensed-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-512

#513 Add automated case creation
  .eslintrc.json
  Jenkinsfile_CNP
  README.md
  package.json
  test/data/case-creation-basic-data.json
  test/data/case-issue-data.json
  test/functional/caseCreation_test.js
  test/helpers/utils.js
  yarn.lock
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-513

#503 DIV-6233: Bailiff service application received
  definitions/divorce/json/FixedLists/FixedLists-bailiff-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-503

#515 Remove unneeded proxy configuration
  test/helpers/utils.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-515

#501 Div 6208: PBA numbers dynamic list
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-payment-by-account-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-payment-by-account-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-prod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField-payment-by-account-nonprod.json
  test/unit/definitions/divorce/AuthorisationCaseField.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-501

#517 DIV-6167: General Consideration Response
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-general-referral-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-general-referral-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-general-referral-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-general-referral-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-general-referral-nonprod.json
  definitions/divorce/json/CaseField/CaseField-general-referral-nonprod.json
  definitions/divorce/json/FixedLists/FixedLists-general-referral-nonprod.json
  definitions/divorce/json/State/State-general-referral-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-517

#519 DIV6166-update label names to use across features
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseField/CaseField-deemed-and-dispensed-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-519

#518 DIV-6187: callback to set GeneralReferralDecisionDate field
  definitions/divorce/json/CaseEvent/CaseEvent-general-referral-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-518

#516 DIV-6168: generalReferral tab
  definitions/divorce/json/CaseField/CaseField-general-referral-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-general-referral-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-516

#526 DIV-6599: Address inconsistency for case submission event
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-payment-by-account-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-payment-by-account-nonprod.json
  definitions/divorce/json/CaseField/CaseField-payment-by-account-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-526

#507 DIV-6166 - General referral payment' event and fields and screen
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-general-referral-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-general-referral-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-general-referral-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-general-referral-nonprod.json
  definitions/divorce/json/CaseField/CaseField-general-referral-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-507

#529 DIV-6600: prepare PBA ccd for release new pr
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-payment-by-account-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-payment-by-account-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-prod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField-payment-by-account-nonprod.json
  definitions/divorce/json/CaseField/CaseField.json
  test/unit/definitions/divorce/AuthorisationCaseField.test.js
  test/unit/definitions/divorce/CaseEventToFields.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-529

#530 DIV-6607-Service-Application-Tab-to-show-details-after-each-event
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-deemed-and-dispensed-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-530

#531 DIV-6166 set prestate for general referral payment
  definitions/divorce/json/CaseEvent/CaseEvent-general-referral-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-531

#504 DIV-5452: Update service decision logic to move to new bailiff state
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-bailiff-nonprod.json
  definitions/divorce/json/State/State-bailiff-nonprod.json
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-504

#522 DIV-6456: GeneralReferrals as a collection of DivorceGeneralReferral
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-general-referral-nonprod.json
  definitions/divorce/json/CaseField/CaseField-general-referral-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-general-referral-nonprod.json
  definitions/divorce/json/ComplexTypes/ComplexTypes-general-referral-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-522
