Repository hmcts/div-ccd-definitions, pull requests merged in 2020-06, with the labels that each got.

#374 Div 6356 capture solicitor name
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-prod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:divorce, rel:div-ccd-definitions-pr-374

#394 Adding bulk listing case id to test event
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-394

#395 Div 6385 updates to received AOS offline respondent screen
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  test/unit/definitions/divorce/CaseEventToFields.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-395

#396 RPET-209-2-year-consent-journey
  definitions/divorce/json/CaseField/CaseField.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-396

#398 Feature/div 6206 new event for solicitor to submit amended petition
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/divorce/json/CaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-398

#397 PCQ-369 adding PCQ role to CCD definition
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-pcq-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-pcq-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/divorce/json/AuthorisationCaseType/AuthorisationCaseType-pcq-nonprod.json
  definitions/divorce/json/AuthorisationCaseType/AuthorisationCaseType.json
  definitions/divorce/json/CaseField/CaseField-pcq-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-pcq-nonprod.json
  test/functional/admin_test.js
  test/unit/definitions/divorce/AuthorisationCaseField.test.js
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
  test/unit/definitions/divorce/AuthorisationCaseType.test.js
  test/unit/definitions/divorce/GenericValidation.test.js
  test/unit/definitions/divorce/UserEventAuthorisation.test.js
  test/unit/definitions/divorce/UserRoleStateAuth.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-397
