Repository hmcts/div-ccd-definitions, pull requests merged in 2020-02, with the labels that each got.

#334 changed callback to CallBackURLSubmittedEvent for sol personal service journ
  definitions/divorce/json/CaseEvent.json
Labels: ns:divorce, rel:div-ccd-definitions-pr-334

#336 RPET-58: Remove the deprecated enableDockerBuild() configuration
  Jenkinsfile_CNP
Labels: ns:divorce, rel:div-ccd-definitions-pr-336

#335 RPET-50: Remove solicitor cheque related payment fields
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/CaseTypeTab.json
  definitions/divorce/json/FixedLists.json
  package.json
Labels: ns:divorce, rel:div-ccd-definitions-pr-335

#333 RPET-53: Modifications in 'Transfer from CTSC to RDC' events permissions
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields.json
Labels: ns:divorce, rel:div-ccd-definitions-pr-333
