Repository hmcts/div-ccd-definitions, pull requests merged in 2020-05, with the labels that each got.

#357 Add conditional exclusion for different environments
  package.json
Labels: ns:divorce, rel:div-ccd-definitions-pr-357

#360 WLA-462: DIVORCE Stop Event 2 (Respondent Journey)
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-nonprod.json
  definitions/divorce/json/State/State-nonprod.json
Labels: ns:divorce, rel:div-ccd-definitions-pr-360

#354 Change permissions for IssueAOSOffline_Respondent_fromAosAwaiting
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-prod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
Labels: ns:divorce, rel:div-ccd-definitions-pr-354

#361 Set events to be live on AAT
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-prod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:divorce, rel:div-ccd-definitions-pr-361

#366 WLA 489
  definitions/divorce/json/WorkBasketInputFields/WorkBasketInputFields-nonprod.json
  definitions/divorce/json/WorkBasketInputFields/WorkBasketInputFields.json
  test/unit/definitions/divorce/GenericValidation.test.js
Labels: ns:divorce, rel:div-ccd-definitions-pr-366

#363 Wla 462 v2
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseField/CaseField-nonprod.json
  definitions/divorce/json/State/State-nonprod.json
  test/unit/definitions/divorce/CaseEventToFields.test.js
Labels: ns:divorce, rel:div-ccd-definitions-pr-363

#368 Remove deprecated method installCharts
  Jenkinsfile_CNP
Labels: ns:divorce, rel:div-ccd-definitions-pr-368

#370 WLA-492 DIVORCE: New Upload Document Type
  definitions/divorce/json/FixedLists/FixedLists-nonprod.json
  definitions/divorce/json/FixedLists/FixedLists.json
  test/unit/definitions/divorce/GenericValidation.test.js
Labels: ns:divorce, rel:div-ccd-definitions-pr-370

#371 Wla 462 trial
  Jenkinsfile_CNP
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseField/CaseField-nonprod.json
  definitions/divorce/json/State/State-nonprod.json
Labels: ns:divorce, rel:div-ccd-definitions-pr-371

#362 Changing screen for 'received AOS Offline Co-Resp'
  Jenkinsfile_CNP
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField-nonprod.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  test/unit/definitions/divorce/AuthorisationCaseField.test.js
  test/unit/definitions/divorce/CaseEventToFields.test.js
  test/unit/definitions/divorce/CaseTypeTab.test.js
  test/unit/definitions/divorce/GenericValidation.test.js
  test/unit/definitions/divorce/UserEventAuthorisation.test.js
Labels: ns:divorce, rel:div-ccd-definitions-pr-362

#373 DIV-6350: Extra fixes
  definitions/divorce/json/CaseField/CaseField-nonprod.json
Labels: ns:divorce, rel:div-ccd-definitions-pr-373
