Repository hmcts/div-ccd-definitions, pull requests merged in 2020-07, with the labels that each got.

#389 PCQ-493 Updated CCD definition to add PCQ ID fields for respondant an…
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-pcq-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-389

#402 Pcq 493 Update to correct respondant and co-respondant pcq id fields
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-pcq-nonprod.json
  definitions/divorce/json/CaseField/CaseField-pcq-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-pcq-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-402

#400 DIV-6206: Update to case state authorisation for solicitor
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-400

#404 DIV-6153 Extend amend petition for refusal sol
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-prod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent.json
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-404

#410 PCQ-493: Corrected spelling in respondent field.
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-pcq-nonprod.json
  definitions/divorce/json/CaseField/CaseField-pcq-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-pcq-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-410

#401 Add new event: 'Allow Petitioner to Amend' and new state 'AwaitingAme…
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-pet-amend-nonprod.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/State.json
  test/unit/definitions/divorce/UserRoleStateAuth.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-401

#405 DIV-6420 (sub-task DIV-6198) field authorisations modified to enable solicitors create new amended cases
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-prod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  test/unit/definitions/divorce/AuthorisationCaseField.test.js
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
  test/unit/definitions/divorce/AuthorisationCaseType.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-405

#412 New env var for aat env to get to CCD_ADMIN_URL
  Jenkinsfile_CNP
  charts/div-ccd-definitions/values.aat.template.yaml
  test/functional/steps_file.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-412

#414 Div-6198: Update authorisation for event amendPetitionForRefusalRejection
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-prod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-solicitorDn-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-solicitorDn-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-414

#413 DIV-6199: Displaying different fees to solicitor depending on whether…
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-solicitorDn-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField-prod.json
  definitions/divorce/json/CaseField/CaseField-solicitorDn-nonprod.json
  definitions/divorce/json/CaseField/CaseField.json
  test/unit/definitions/divorce/CaseEventToFields.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-413

#415 DIV-6198: Previously added event authorisation removed
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-prod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-solicitorDn-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-415

#416 Div 6191 add callback
  definitions/divorce/json/CaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-416

#407 DIV-5559: feature toggle 'on' AOS pack 2 on prod
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-prod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField-nonprod.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-407

#417 DIV-6325: clean up
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-prod.json
  definitions/divorce/json/AuthorisationCaseType/AuthorisationCaseType-prod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-prod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-prod.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
  test/unit/definitions/divorce/AuthorisationCaseField.test.js
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
  test/unit/definitions/divorce/AuthorisationCaseType.test.js
  test/unit/definitions/divorce/CaseEventToFields.test.js
  test/unit/definitions/utils.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-417

#419 moved utils.js file to other folder to make sure unit tests can be executed
  package.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
  test/unit/definitions/divorce/AuthorisationCaseField.test.js
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
  test/unit/utils/utils.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-419

#421 Added functional-output folder
  functional-output/.gitkeep
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-421

#422 DIV-6424: DN refusal release
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-prod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-solicitorDn-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-prod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-solicitorDn-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField-prod.json
  definitions/divorce/json/CaseField/CaseField-solicitorDn-nonprod.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-prod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-solicitorDn-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-422

#424 DIV-6431 service application received
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-deemed-and-dispensed-prod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/FixedLists/FixedLists.json
  definitions/divorce/json/State/State.json
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
  test/unit/definitions/divorce/UserRoleStateAuth.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-424

#425 DIV-6438: Allowing caseworker to see test event. It will make testing…
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-425

#429 DIV-6212: Adding dueDate to Temporary superuser's test event
  definitions/divorce/json/CaseEvent/CaseEvent-pet-amend-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/divorce/json/State/State-pet-amend-nonprod.json
  definitions/divorce/json/State/State.json
  package.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
  test/unit/definitions/divorce/AuthorisationCaseField.test.js
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
  test/unit/definitions/divorce/AuthorisationCaseType.test.js
  test/unit/definitions/divorce/UserRoleStateAuth.test.js
  test/unit/utils/utils.js
  yarn.lock
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-429

#430 Fixing prod configuration
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-pet-amend-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-pet-amend-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  test/unit/definitions/divorce/UserRoleStateAuth.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-430
