Repository hmcts/div-ccd-definitions, pull requests merged in 2020-04, with the labels that each got.

#340 WLA-169: Solicitor - Set language preference flag to bilingual
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields.json
  test/unit/definitions/divorce/CaseTypeTab.test.js
Labels: ns:divorce, rel:div-ccd-definitions-pr-340

#344 turning on pet solicitor applies for DA
  charts/div-ccd-definitions/Chart.yaml
  charts/div-ccd-definitions/requirements.yaml
  definitions/divorce/json/AuthorisationCaseEvent.json
Labels: ns:divorce, rel:div-ccd-definitions-pr-344

#345 disabling nominate respondent solicitor
  definitions/divorce/json/CaseEventToFields.json
Labels: ns:divorce, rel:div-ccd-definitions-pr-345

#346 transfer events only for super users
  definitions/divorce/json/AuthorisationCaseEvent.json
Labels: ns:divorce, rel:div-ccd-definitions-pr-346

#349 Wla 461
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/ComplexTypes.json
  definitions/divorce/json/FixedLists.json
  definitions/divorce/json/State.json
Labels: ns:divorce, rel:div-ccd-definitions-pr-349

#351 Revert "transfer events only for super users"
  definitions/divorce/json/AuthorisationCaseEvent.json
Labels: ns:divorce, rel:div-ccd-definitions-pr-351

#343 RPET-154: Add message for solicitors on every screen
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/CaseField.json
Labels: ns:divorce, rel:div-ccd-definitions-pr-343

#352 WLA-461 DIVORCE: Stop Event 1 (Petitioner Journey)
  definitions/divorce/json/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent.json
  definitions/divorce/json/CaseEventToFields.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/ComplexTypes.json
  definitions/divorce/json/FixedLists.json
  definitions/divorce/json/State.json
Labels: ns:divorce, rel:div-ccd-definitions-pr-352
