Repository hmcts/div-ccd-definitions, pull requests merged in 2020-11, with the labels that each got.

#537 DIV-6607: Updating Service application collection label name
  definitions/divorce/json/CaseField/CaseField-deemed-and-dispensed-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-537

#533 DIV-6170: Add served by alternative method events
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-served-by-alternative-method-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-served-by-alternative-method-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-served-by-alternative-method-nonprod.json
  definitions/divorce/json/State/State-served-by-alternative-method-nonprod.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
  test/unit/definitions/divorce/CaseEvent.test.js
  test/unit/definitions/divorce/UserRoleStateAuth.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-533

#539 DIV-6166: Hide Fee value field (waiting for: RDM-10117)
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-general-referral-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-539

#536 DIV-6174: Add basic file structure
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-served-by-alternative-method-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-served-by-alternative-method-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-served-by-alternative-method-nonprod.json
  definitions/divorce/json/State/State-served-by-alternative-method-nonprod.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-536

#543 DIV-6523: confirmAlternativeService event
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-served-by-alternative-method-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-served-by-alternative-method-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-543

#540 DIV-6173: Serve to alternative address being able to reissue
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-alternative-service-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-prod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-alternative-service-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-alternative-service-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/State/State-alternative-service-nonprod.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
  test/unit/definitions/divorce/CaseEvent.test.js
  test/unit/definitions/divorce/UserRoleStateAuth.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-540

#544 DIV-6619: release general order
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-general-order-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-general-order-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/CaseEvent/CaseEvent-general-order-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-general-order-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField-general-order-nonprod.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-general-order-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  definitions/divorce/json/ComplexTypes/ComplexTypes-general-order-nonprod.json
  definitions/divorce/json/ComplexTypes/ComplexTypes.json
  definitions/divorce/json/FixedLists/FixedLists-general-order-nonprod.json
  definitions/divorce/json/FixedLists/FixedLists.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
  test/unit/definitions/divorce/AuthorisationCaseField.test.js
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
  test/unit/definitions/divorce/CaseEvent.test.js
  test/unit/definitions/divorce/CaseEventToFields.test.js
  test/unit/definitions/divorce/CaseTypeTab.test.js
  test/unit/utils/caseTabTypeHelper.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-544

#546 DIV:6175 Add serve by process server event and awaiting process server service state
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-alt-service-process-server-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-alt-service-process-server-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-alt-service-process-server-nonprod.json
  definitions/divorce/json/State/State-alt-service-process-server-nonprod.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-546

#549 DIV-6178: Adding new event to move case to AwaitingDecreeNisi state.
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-alt-service-process-server-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-alt-service-process-server-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-549

#551 DIV-6177: Creating flag that identifies a case as server by a process…
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-alt-service-process-server-nonprod.json
  definitions/divorce/json/CaseField/CaseField-alt-service-process-server-nonprod.json
  test/unit/definitions/divorce/CaseTypeTab.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-551

#550 DIV-6522: added 'submitted' callback endpoint for event 'aosNotReceivedForProcessServer'
  definitions/divorce/json/CaseEvent/CaseEvent-alt-service-process-server-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-550

#554 DIV-6176: Confirm process server
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-alt-service-process-server-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-alt-service-process-server-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-554

#547 Div 6508 return to state before general referral
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-general-referral-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-general-referral-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-general-referral-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-general-referral-nonprod.json
  definitions/divorce/json/CaseField/CaseField-general-referral-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-547

#552 DIV-6177: Adding new ServedByProcessServer field to superuser (non-pr…
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-nonprod.json
  test/unit/definitions/divorce/CaseEventToFields.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-552

#555 DIV-6522: CRU for role caseworker-divorce-courtadmin_beta on event aosNotReceivedForProcessServer
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-alt-service-process-server-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-555

#557 DIV-6176-Rename-confirmProcessServerService
  definitions/divorce/json/CaseEvent/CaseEvent-alt-service-process-server-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-557

#563 DIV-6176: Update to Confirm process service
  definitions/divorce/json/CaseEvent/CaseEvent-alt-service-process-server-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-563

#564 DIV-6178: Extending test event to be used by caseworker-beta
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-564

#565 DIV-6178: Allowing caseworker to trigger test event
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-565

#560 DIV-6627: Recording multiple HWF payments and multiple PBA and Fee account in CCD
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-general-referral-nonprod.json
  definitions/divorce/json/CaseField/CaseField-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-prod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  definitions/divorce/json/ComplexTypes/ComplexTypes-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-560

#567 DIV-6642: New field servedByAlternativeMethod
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-alternative-service-nonprod.json
  definitions/divorce/json/CaseField/CaseField-alternative-service-nonprod.json
  test/unit/definitions/divorce/AuthorisationCaseField.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-567

#568 DIV-6178: Adding new pre-condition state and removing field from test…
  definitions/divorce/json/CaseEvent/CaseEvent-alt-service-process-server-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-568

#571 DIV-6627: Recording multiple hwf payments and multiple pba fee account
  README.md
  definitions/divorce/json/CaseEvent/CaseEvent-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-general-referral-nonprod.json
  definitions/divorce/json/ComplexTypes/ComplexTypes-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-571

#569 DIV-6644: CallBackURLSubmittedEvent added to confirmAlternativeService event
  definitions/divorce/json/CaseEvent/CaseEvent-alternative-service-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-569
