Repository hmcts/div-ccd-definitions, pull requests merged in 2020-01, with the labels that each got.

#326 BSP-120: Added new field for RespStatementofTruthSignedDate
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/CaseTypeTab.json
Labels: ns:div-ccd-definitions-pr-326

#328 BSP-102 CCD fields
  definitions/divorce/json/AuthorisationCaseField.json
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/CaseTypeTab.json
Labels: ns:div-ccd-definitions-pr-328, ns:divorce, rel:div-ccd-definitions-pr-328

#329 BSP-110: Creating fields for section 11 of the D8 form
  definitions/divorce/json/CaseField.json
  definitions/divorce/json/FixedLists.json
Labels: ns:divorce, rel:div-ccd-definitions-pr-329

#331 fieldshowcondition removed so familyman displays again
  definitions/divorce/json/CaseEventToFields.json
Labels: ns:divorce, rel:div-ccd-definitions-pr-331
