Repository hmcts/div-ccd-definitions, pull requests merged in 2021-02, with the labels that each got.

#636 DIV-6637 Allow a case with state - State Update
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-share-a-case-nonprod.json
  test/unit/definitions/divorce/UserRoleStateAuth.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-636

#627 DIV-6637: allow share a case
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-share-a-case-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent-share-a-case-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
  test/unit/definitions/divorce/CaseEventToFields.test.js
  test/unit/definitions/divorce/UserRoleStateAuth.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-627

#640 DIV-6746: Placing label in proper position
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-alt-service-process-server-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-alternative-service-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-640

#643 DIV-6637: Just to unblock others. We need to investigate what has happened
  definitions/divorce/json/CaseEvent/CaseEvent-share-a-case-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-643

#645 DIV-6746: Updating service application label ordering
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-deemed-and-dispensed-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-645

#644 DIV-6637: add post-commit callback to 'solicitorStatementOfTruthPaySubmit'
  definitions/divorce/json/CaseEvent/CaseEvent-share-a-case-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-644

#646 DIV-6709 and DIV-6710: Implemented acceptance criteria as unit tests
  test/unit/definitions/divorce/CaseTypeTab.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-646

#652 DIV-6788: beta role has R on event generalConsideration
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-general-referral-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-652

#654 removed sol auths for add note event and notes field
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-654

#634 DIV-6713: Update events permissions for Petitioner's solicitor and Respondent solicitor
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-roles-and-permissions-prod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-alternative-service-nonprod.json
  definitions/divorce/json/AuthorisationCaseType/AuthorisationCaseType-prod.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
  test/unit/definitions/divorce/UserEventAuthorisation.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-634

#617 RPET-743: Remove permission from AmendPetition
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-617

#657 DIV-6749: Isolating page I'm going to work on
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-pet-sol-selects-own-org-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-pet-sol-selects-own-org-prod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-657

#660 DIV-6749: Making changes to 'About the solicitor' page
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-pet-sol-selects-own-org-nonprod.json
  definitions/divorce/json/CaseField/CaseField-share-a-case-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-pet-sol-selects-own-org-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-660

#651 Share A Case config cleanup
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-share-a-case-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-share-a-case-nonprod.json
  definitions/divorce/json/AuthorisationCaseType/AuthorisationCaseType-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/AuthorisationComplexType/AuthorisationComplexType-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/AuthorisationComplexType/AuthorisationComplexType-share-a-case-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-651

#596 RPET-624 Remove payment option CHEQUE from solicitor journey
  definitions/divorce/json/FixedLists/FixedLists.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-596

#662 DIV-6750: Isolating the page I'm going to work on
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-pet-sol-selects-own-org-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-pet-sol-selects-own-org-prod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-662

#664 DIV-6713-Update amendPetitionForRefusalSol nonprod to be CRU
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-roles-and-permissions-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-664

#659 DIV-6753: Adding respondent service details to solicitor create event
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/CaseEventToComplexTypes/CaseEventToComplexTypes-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-prod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-roles-and-permissions-prod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-pet-sol-selects-own-org-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  test/unit/definitions/divorce/CaseEventToComplexTypes.test.js
  test/unit/definitions/divorce/CaseEventToFields.test.js
  test/unit/definitions/divorce/CaseTypeTab.test.js
  test/unit/definitions/divorce/UserEventAuthorisation.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-659

#667 DIV-6753: Adding Respondent organisation policy to tab
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-resp-journey-roles-and-permissions-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-667

#663 RPET-743: Add CRU permission for AmendPetition State
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-663

#666 Refactoring/unit test data provider
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
  test/unit/definitions/divorce/UserEventAuthorisation.test.js
  test/unit/utils/dataProvider.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-666

#649 [Snyk] Upgrade @hmcts/nodejs-healthcheck from 1.5.1 to 1.7.0
  package.json
  yarn.lock
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-649

#665 DIV-6750: Implementing changes to page
  definitions/divorce/json/CaseEventToComplexTypes/CaseEventToComplexTypes-pet-sol-selects-own-org-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-pet-sol-selects-own-org-nonprod.json
  test/unit/definitions/divorce/CaseEventToComplexTypes.test.js
  test/unit/definitions/divorce/CaseEventToFields.test.js
  test/unit/definitions/divorce/CaseTypeTab.test.js
  test/unit/utils/dataProvider.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-665

#669 Refactoring/unit test better and better
  test/unit/definitions/divorce/AuthorisationCaseField.test.js
  test/unit/definitions/divorce/AuthorisationComplexCaseType.test.js
  test/unit/definitions/divorce/CaseEvent.test.js
  test/unit/definitions/divorce/CaseEventToComplexTypes.test.js
  test/unit/definitions/divorce/CaseEventToFields.test.js
  test/unit/definitions/divorce/CaseTypeTab.test.js
  test/unit/definitions/divorce/GenericValidation.test.js
  test/unit/definitions/divorce/UserRoleStateAuth.test.js
  test/unit/utils/dataProvider.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-669

#670 DIV-6749: Creating space for feature-toggled fields.
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  test/unit/definitions/divorce/CaseTypeTab.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-670

#673 Revert "Share A Case config cleanup"
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-share-a-case-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-share-a-case-nonprod.json
  definitions/divorce/json/AuthorisationCaseType/AuthorisationCaseType-share-a-case-nonprod.json
  definitions/divorce/json/AuthorisationComplexType/AuthorisationComplexType-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/AuthorisationComplexType/AuthorisationComplexType-share-a-case-nonprod.json
  test/unit/utils/dataProvider.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-673

#674 DIV-6749: Tab re-ordering
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-pet-sol-selects-own-org-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-674

#642 DIV-6776: Extend pre-states for deemed & dispensed
  definitions/divorce/json/CaseEvent/CaseEvent-deemed-and-dispensed-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-642

#677 more 'compilation' unit tests
  definitions/divorce/json/CaseField/CaseField.json
  test/unit/definitions/divorce/CaseField.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-677

#679 DIV-6754: Adding resp solicitor organisation to amend application event
  definitions/divorce/json/CaseEventToComplexTypes/CaseEventToComplexTypes-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-roles-and-permissions-prod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-679

#682 DIV-6574: Update of 'FieldShowCondition' for field 'RespondentOrganisationPolicy' on event 'solicitorUpdate'
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-roles-and-permissions-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-682

#681 DIV-6713-UpdateLanguage from R to CRU on sol role for non prod
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-roles-and-permissions-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-681

#635 DIV-6707: State authorisations added for caseworker-caa
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-share-a-case-nonprod.json
  definitions/divorce/json/SearchCasesResultFields/SearchCasesResultFields-resp-journey-roles-and-permissions-nonprod.json
  test/unit/utils/dataProvider.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-635

#686 Update apiVersion to v2
  charts/div-ccd-definitions/Chart.yaml
  charts/div-ccd-definitions/requirements.yaml
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-686

#685 Removing extra condition
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-roles-and-permissions-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-685

#658 DIV-6723: Petitioner solicitor is able to update email, telephone and address
  Jenkinsfile_CNP
  charts/div-ccd-definitions/Chart.yaml
  charts/div-ccd-definitions/values.preview.template.yaml
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-roles-and-permissions-nonprod.json
  test/unit/utils/dataProvider.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-658

#691 DIV-6724: Adding page to update respondent solicitor contact details page
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/CaseField/CaseField-resp-journey-roles-and-permissions-nonprod.json
  test/unit/utils/dataProvider.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-691

#692 DIV-6710, DIV-6713: don't remove these PERMISSIONS
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-share-a-case-nonprod.json
  test/unit/utils/dataProvider.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-692

#695 DIV-6723: Make petitioner solicitor name mandatory
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-roles-and-permissions-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-695

#696 DIV-6723: Petitioner solicitor is able to update email, telephone and address
  charts/div-ccd-definitions/Chart.yaml
  charts/div-ccd-definitions/values.preview.template.yaml
  config/default.yaml
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-roles-and-permissions-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-696

#632 Release: DIV-6444 deemed and dispensed scheduled 15/02/21 (DIV 6.3.0)
  charts/div-ccd-definitions/Chart.yaml
  charts/div-ccd-definitions/values.preview.template.yaml
  charts/div-ccd-definitions/values.yaml
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent/CaseEvent-alternative-service-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-roles-and-permissions-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-prod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  definitions/divorce/json/ComplexTypes/ComplexTypes-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/ComplexTypes/ComplexTypes-nonprod.json
  definitions/divorce/json/ComplexTypes/ComplexTypes.json
  definitions/divorce/json/FixedLists/FixedLists-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/FixedLists/FixedLists.json
  definitions/divorce/json/State/State-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/State/State.json
  test/unit/utils/caseTabTypeHelper.js
  test/unit/utils/dataProvider.js
Labels: RELEASE, ns:divorce, prd:div, rel:div-ccd-definitions-pr-632

#707 Clean up
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-prod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-prod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-resp-journey-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-prod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-resp-journey-nonprod.json
  definitions/divorce/json/AuthorisationComplexType/AuthorisationComplexType-resp-journey-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent-share-a-case-prod.json
  definitions/divorce/json/CaseEventToComplexTypes/CaseEventToComplexTypes-pet-sol-selects-own-org-nonprod.json
  definitions/divorce/json/CaseEventToComplexTypes/CaseEventToComplexTypes-resp-journey-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-pet-sol-selects-own-org-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-pet-sol-selects-own-org-prod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-prod.json
  definitions/divorce/json/CaseField/CaseField-prod.json
  definitions/divorce/json/CaseField/CaseField-resp-journey-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-pet-sol-selects-own-org-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-resp-journey-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-resp-journey-prod.json
  definitions/divorce/json/ComplexTypes/ComplexTypes-nonprod.json
  definitions/divorce/json/SearchCasesResultFields/SearchCasesResultFields-resp-journey-nonprod.json
  test/unit/utils/dataProvider.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-707

#711 DIV-6713: AC24 applied after DnD release
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-prod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-711

#710 DIV-6765: Add new page to DraftAOS
  charts/div-ccd-definitions/Chart.yaml
  charts/div-ccd-definitions/values.yaml
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-nonprod.json
  definitions/divorce/json/CaseField/CaseField-resp-journey-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-710

#717 DIV-6765-Fix-content-Draft-Aos-Resp-Sol
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-717

#719 Div 6765 reorder page
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-prod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-719

#720 Better unit test to spot invalid value for order
  test/unit/definitions/divorce/CaseEvent.test.js
  test/unit/definitions/divorce/CaseEventToFields.test.js
  test/unit/definitions/divorce/CaseField.test.js
  test/unit/definitions/divorce/GenericValidation.test.js
  test/unit/definitions/divorce/UserRoleStateAuth.test.js
  test/unit/utils/dataProvider.js
  test/unit/utils/utils.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-720

#723 AC22: Update PETSOL to be CRU on NonProd
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-prod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-723

#721 DIV-6764: Feature-toggling solicitorDraftAOS event
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-prod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-721

#725 DIV-6766: Feature toggling the 'solicitorUpdateAOS' event for resp-so…
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-prod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-725

#697 RPET-771: Change cost claim form to optional.
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-prod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-697

#731 DIV-6764: Adding resp-solicitor CRUD permissions
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-resp-journey-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-731

#728 DIV-6767: Feature-toggling the solicitorSubmitAOS event for the resp-solicitor
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-prod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-728

#733 DIV-6713: additional permission after PO/BA review
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-733

#735 DIV-6764: Authorising fields for resp-solicitor
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-resp-journey-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-735

#736 DIV-6764: Fixing no field found issue
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-resp-journey-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-736

#738 DIV-6767: Adding missing fields to AOS tab
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-738

#739 Peftest and ITHC-prod-like xlsxs added
  package.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-739

#742 DIV-6764: Making event work with minimal permission
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-resp-journey-nonprod.json
  definitions/divorce/json/CaseField/CaseField-resp-journey-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-742

#712 RELEASE scheduled on 25/02/2021
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-alt-service-process-server-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-alternative-service-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-amend-court-orders-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-general-email-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-general-referral-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-alt-service-process-server-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-alternative-service-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-amend-court-orders-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-general-email-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-general-referral-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-alt-service-process-server-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-alternative-service-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-general-referral-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/divorce/json/AuthorisationCaseType/AuthorisationCaseType-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent-alt-service-process-server-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-alternative-service-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-amend-court-orders-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-general-email-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-general-referral-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-share-a-case-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-alt-service-process-server-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-alternative-service-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-amend-court-orders-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-general-email-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-general-referral-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField-alt-service-process-server-nonprod.json
  definitions/divorce/json/CaseField/CaseField-alternative-service-nonprod.json
  definitions/divorce/json/CaseField/CaseField-amend-court-orders-nonprod.json
  definitions/divorce/json/CaseField/CaseField-general-email-nonprod.json
  definitions/divorce/json/CaseField/CaseField-general-referral-nonprod.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-general-referral-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  definitions/divorce/json/ComplexTypes/ComplexTypes-general-referral-nonprod.json
  definitions/divorce/json/ComplexTypes/ComplexTypes.json
  definitions/divorce/json/FixedLists/FixedLists-general-email-nonprod.json
  definitions/divorce/json/FixedLists/FixedLists-general-referral-nonprod.json
  definitions/divorce/json/FixedLists/FixedLists.json
  definitions/divorce/json/State/State-alt-service-process-server-nonprod.json
  definitions/divorce/json/State/State-alternative-service-nonprod.json
  definitions/divorce/json/State/State-general-referral-nonprod.json
  definitions/divorce/json/State/State.json
  test/unit/definitions/divorce/UserRoleStateAuth.test.js
  test/unit/utils/caseTabTypeHelper.js
  test/unit/utils/dataProvider.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-712

#714 DIV-6792 Changed ConfirmServicePayment postcondition state
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-bailiff-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-bailiff-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-bailiff-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-bailiff-nonprod.json
  definitions/divorce/json/CaseField/CaseField-bailiff-nonprod.json
  definitions/divorce/json/State/State-bailiff-nonprod.json
  test/unit/utils/dataProvider.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-714

#724 Div 6793 judge makes bailiff decision
  .gitignore
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-bailiff-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-bailiff-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-bailiff-nonprod.json
  definitions/divorce/json/State/State-bailiff-nonprod.json
  test/unit/utils/dataProvider.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-724
