Repository hmcts/div-ccd-definitions, pull requests merged in 2021-01, with the labels that each got.

#589 DIV-6370: added updateCourtOrderDocuments event
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-amend-court-orders.json
  definitions/divorce/json/CaseEvent/CaseEvent-amend-court-orders.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-589

#590 DIV-6730: update court order documents event - explanation page
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-amend-court-orders-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-amend-court-orders-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-amend-court-orders-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-amend-court-orders-nonprod.json
  definitions/divorce/json/CaseField/CaseField-amend-court-orders-nonprod.json
  package.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
  test/unit/definitions/divorce/AuthorisationCaseField.test.js
  test/unit/definitions/divorce/CaseEventToFields.test.js
  yarn.lock
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-590

#591 DIV-6730: added 'CaseEvent-amend-court-orders-nonprod' to unit tests
  test/unit/definitions/divorce/CaseEvent.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-591

#581 DIV-6653: Allow StartAOS and SubmitAOS from new states
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-alternative-service-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-alt-service-process-server-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-alternative-service-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-alternative-service-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-581

#593 DIV-6699: Fix for no field found error
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-deemed-and-dispensed-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-593

#592 DIV-6726: Bringing file generation parameters from CCD config file in…
  definitions/bulk-action/json/CaseEvent.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-592

#582 RPET-563 implement urgent case flag
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  definitions/divorce/json/SearchInputFields.json
  definitions/divorce/json/WorkBasketInputFields/WorkBasketInputFields.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-582

#600 Fix for div-6094
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-600

#595 Fix for DIV-6094
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseField/CaseField-deemed-and-dispensed-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-595

#601 Quick fix DIV-6699
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-deemed-and-dispensed-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-601

#605 DIV-6636: Create new OrganisationPolicy fields in CCD
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-share-a-case-nonprod.json
  definitions/divorce/json/AuthorisationCaseType/AuthorisationCaseType-share-a-case-nonprod.json
  definitions/divorce/json/AuthorisationComplexType/AuthorisationComplexType-share-a-case-nonprod.json
  definitions/divorce/json/AuthorisationComplexType/AuthorisationComplexType.json
  definitions/divorce/json/CaseEventToComplexTypes.json
  definitions/divorce/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/divorce/json/CaseField/CaseField-share-a-case-nonprod.json
  test/functional/admin_test.js
  test/unit/definitions/divorce/AuthorisationCaseField.test.js
  test/unit/definitions/divorce/GenericValidation.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-605

#611 DIV-6637: Set values in petitioner organisation policy - PR2
  definitions/divorce/json/CaseEventToComplexTypes/CaseEventToComplexTypes-share-a-case-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-share-a-case-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-611

#607 DIV-6740: Diverting traffic from event to a specific endpoint (not pa…
  definitions/bulk-action/json/CaseEvent.json
Labels: DO NOT MERGE, ns:divorce, prd:div, rel:div-ccd-definitions-pr-607

#613 DIV-6743: Fixing event label
  definitions/divorce/json/CaseEvent/CaseEvent-amend-court-orders-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-613

#614 DIV-6637: Adding new test cases
  definitions/divorce/json/CaseEventToComplexTypes/CaseEventToComplexTypes-share-a-case-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-share-a-case-nonprod.json
  test/unit/definitions/divorce/AuthorisationComplexCaseType.test.js
  test/unit/definitions/divorce/CaseEvent.test.js
  test/unit/definitions/divorce/CaseEventToComplexTypes.test.js
  test/unit/utils/utils.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-614

#616 RPET-710: Add auth roles for notice of acting
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/divorce/json/AuthorisationCaseType/AuthorisationCaseType.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-616

#619 DIV-6746: Solicitor is able to complete DN after alternative method or process server and AOS
  .nvmrc
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-alt-service-process-server-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-alternative-service-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-alt-service-process-server-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-alternative-service-nonprod.json
  definitions/divorce/json/CaseField/CaseField-alt-service-process-server-nonprod.json
  definitions/divorce/json/CaseField/CaseField-alternative-service-nonprod.json
  package.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
  test/unit/definitions/divorce/CaseEvent.test.js
  test/unit/definitions/divorce/CaseEventToFields.test.js
  yarn.lock
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-619

#625 DIV-6709: Implementing tab visualisation for pet-solicitor
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-prod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  test/unit/definitions/divorce/CaseTypeTab.test.js
  test/unit/utils/caseTabTypeHelper.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-625

#621 DIV-6705 Respondent Organisation policy field exists
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-share-a-case-nonprod.json
  definitions/divorce/json/AuthorisationComplexType/AuthorisationComplexType-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/CaseField/CaseField-resp-journey-roles-and-permissions-nonprod.json
  test/unit/definitions/divorce/AuthorisationCaseField.test.js
  test/unit/definitions/divorce/AuthorisationComplexCaseType.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-621

#628 DIV-6710: Implementing tabs for resp-solicitor
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-resp-journey-roles-and-permissions-nonprod.json
  test/unit/utils/caseTabTypeHelper.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-628

#631 Revert "DIV-6710: Implementing Service Application tab access control"
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-deemed-and-dispensed-nonprod.json
  test/unit/utils/caseTabTypeHelper.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-631
