Repository hmcts/div-ccd-definitions, pull requests merged in 2021-08, with the labels that each got.

#884 CCD config changes
  Jenkinsfile_CNP
  README.md
  charts/div-ccd-definitions/Chart.yaml
  charts/div-ccd-definitions/values.preview.template.yaml
  package.json
  test/data/case-creation-solicitor.json
  yarn.lock
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-884

#872 DFR-80 Add Represented respondent address field
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  test/unit/definitions/divorce/UserEventAuthorisation.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-872

#864 RPET-966 persist general email
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  definitions/divorce/json/ComplexTypes/ComplexTypes.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-864
