Repository hmcts/div-ccd-definitions, pull requests merged in 2021-07, with the labels that each got.

#871 Retain hidden D8ReasonForDivorce
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-871

#860 RPET 927 - Re-ordering of confidential tabs to appear after the AOS tab
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  test/unit/definitions/divorce/CaseTypeTab.test.js
  test/unit/utils/caseTabTypeHelper.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-860

#851 RPET-965: change AwaitingProcessServerService name and description
  definitions/divorce/json/State/State.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-851

#859 RPET-963 Extend 'Grant decree absolute' event
  definitions/divorce/json/CaseEvent/CaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-859

#862 RPET-960: Change column configuration on unassigned case view
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-unassigned-case-list-nonprod.json
  definitions/divorce/json/SearchCasesResultFields/SearchCasesResultFields-prod.json
  definitions/divorce/json/SearchCasesResultFields/SearchCasesResultFields-unassigned-case-list-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-862

#874 RPET-960: Change column configuration on unassigned case view
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-unassigned-case-list-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/SearchCasesResultFields/SearchCasesResultFields-prod.json
  definitions/divorce/json/SearchCasesResultFields/SearchCasesResultFields.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-874

#880 Point preview PRs to ccd-data-store-api-aat
  README.md
  charts/div-ccd-definitions/values.preview.template.yaml
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-880
