Repository hmcts/div-ccd-definitions, pull requests merged in 2021-05, with the labels that each got.

#849 RPET-979: remove caa permissions
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-849

#850 Revert "RPET-979: remove caa permissions"
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
  yarn-audit-known-issues
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-850

#853 RPET 961 Adding callback to reissueFromServiceAppRejected
  definitions/divorce/json/CaseEvent/CaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-853

#848 RPET-661: add new location to dropdown list and implement display ordering
  definitions/bulk-action/json/FixedLists.json
  definitions/divorce/json/FixedLists/FixedLists.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-848

#729 RPET-703: Add additional cost option in solicitor journey.
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-729

#858 RPET-991: Update DIV state permissions for CAA role
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-858

#865 Chart version ~5.0.4
  charts/div-ccd-definitions/Chart.yaml
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-865

#866 Rpet 1017 hide case history
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  test/unit/utils/caseTabTypeHelper.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-866

#844 Move some simple scenarios on unit tests level
  test/unit/definitions/divorce/UserEventAuthorisation.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-844
