Repository hmcts/div-ccd-definitions, pull requests merged in 2021-03, with the labels that each got.

#740 DIV-6792,DIV-6793,DIV-6218: FR gang bailiff work integration
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-bailiff-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-bailiff-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-bailiff-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-bailiff-nonprod.json
  definitions/divorce/json/CaseField/CaseField-bailiff-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-bailiff-nonprod.json
  definitions/divorce/json/FixedLists/FixedLists-bailiff-nonprod.json
  definitions/divorce/json/State/State-bailiff-nonprod.json
  test/unit/utils/dataProvider.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-740

#744 DIV-6777: Extend AOS overdue job to pick-up cases from state AosDrafted
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  test/unit/definitions/divorce/UserRoleStateAuth.test.js
  test/unit/utils/utils.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-744

#745 DIV-6780: Extending events for AosDrafted
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-745

#746 DIV-6779: extend pre conditions for general referral / alt services
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-prod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-746

#751 DIV-6815: Hide two tabs from solicitor users
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  test/unit/definitions/divorce/CaseTypeTab.test.js
  test/unit/definitions/divorce/UserRoleStateAuth.test.js
  test/unit/utils/caseTabTypeHelper.js
  test/unit/utils/dataProvider.js
  test/unit/utils/userRoles.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-751

#757 DIV-6778: Extend respondent solicitor AOS events pre-states to include Bailiff journey states
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-bailiff-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-757

#758 reintroduce cheque payment type to fixed list
  definitions/divorce/json/FixedLists/FixedLists.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-758

#756 Xui pod
  charts/div-ccd-definitions/Chart.yaml
  charts/div-ccd-definitions/values.aat.template.yaml
  charts/div-ccd-definitions/values.preview.template.yaml
  charts/div-ccd-definitions/values.yaml
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-756

#761 DIV-5738 bailiff application details
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-bailiff-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-bailiff-nonprod.json
  definitions/divorce/json/CaseField/CaseField-bailiff-nonprod.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-bailiff-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-761

#762 DIV-6419: Add new trigger states to Events for users
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-bailiff-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-762

#771 RPET-873:give sol more permission to action draft decree nisi
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-771

#769 DIV-6630: Adding Judge cost order event page
  charts/div-ccd-definitions/values.preview.template.yaml
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-object-to-costs-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-object-to-costs-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-object-to-costs-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-object-to-costs-nonprod.json
  definitions/divorce/json/CaseField/CaseField-object-to-costs-nonprod.json
  definitions/divorce/json/FixedLists/FixedLists-object-to-costs-nonprod.json
  definitions/divorce/json/FixedLists/FixedLists.json
  package.json
  test/unit/utils/dataProvider.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-769

#774 DIV-6630: Judge cost order event page - aat url Inversion
  package.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-774

#768 DIV-6817: adding access to events from bailiff fields
  definitions/bulk-action/json/CaseEvent.json
  definitions/bulk-action/json/State.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-bailiff-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-bailiff-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/State/State-bailiff-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-768

#776 RPET-891: Adding missing callbacks
  definitions/divorce/json/CaseEvent/CaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-776

#785 DIV-6089: Displaying label when served by bailiff successful
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-bailiff-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-bailiff-nonprod.json
  definitions/divorce/json/CaseField/CaseField-bailiff-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-785

#784 DIV-6762: updated 'issueAosFromReissue.CallBackURLSubmittedEvent'
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
Labels: DO NOT MERGE, ns:divorce, prd:div, rel:div-ccd-definitions-pr-784

#772 DIV-6807: Add notice of proceedings details to AOS tab
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-resp-journey-nonprod.json
  definitions/divorce/json/CaseField/CaseField-resp-journey-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-resp-journey-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-772

#730 Changes for RPET-708, to introduce 'Petitioner Solicitor's firm/ DX a…
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-730

#781 DIV-6844: Merge allow share case with about to start callback
  definitions/divorce/json/CaseEvent/CaseEvent-share-a-case-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-781

#770 DIV-6631 Judge cost order decisions in 'Outcomes of decree nisi' tab
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-object-to-costs-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-object-to-costs-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/CaseField/CaseField-object-to-costs-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-object-to-costs-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  test/unit/utils/dataProvider.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-770

#790 DIV-6858: CAA role has CRU for states
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-bailiff-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-resp-journey-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-share-a-case-nonprod.json
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
  test/unit/utils/dataProvider.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-790

#791 DIV-6844: Adding authorisation for CAA user
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-share-a-case-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-791

#795 DIV-6871: event 'solicitorDraftAOS' gets state 'AosOverdue' added to pre-states
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-prod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-795

#793 DIV-6839 Transfer to CTSC from Service journey / Bailiff states
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-bailiff-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-bailiff-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-793

#796 DIV-6809: Fixing ordering draft DN
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-796

#797 DIV-6228: Citizen submit AOS response whilst bailiff application in progress - RFE
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-797
