Repository hmcts/div-ccd-definitions, pull requests merged in 2021-04, with the labels that each got.

#799 DIV-6228: Citizen respondent-co-respondent can submit AOS response whilst bailiff application in progress
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-799

#800 DIV-6849:Serve by alternative method event pre-states extended to inc…
  definitions/divorce/json/CaseEvent/CaseEvent-share-a-case-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-share-a-case-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-800

#807 DIV-6846 - Ability to trigger 'Service application received' prior to issue
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-or-resp-journey-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-nonprod.json
  test/unit/utils/dataProvider.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-807

#804 DIV-6874: Added 'LastServiceApplication.Type' to search case filters
  definitions/divorce/json/SearchInputFields/SearchInputFields-bailiff-nonprod.json
  definitions/divorce/json/SearchInputFields/SearchInputFields.json
  test/unit/utils/dataProvider.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-804

#810 DIV-6806 - Add 'Bailiff Certificate of Service' and 'Objection to Costs' document types
  definitions/divorce/json/FixedLists/FixedLists-bailiff-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-810

#815 DIV-6847: fixed functional tests
  test/data/case-creation-solicitor.json
  test/functional/caseCreation_test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-815

#803 DIV-6858: no permissions for CCA role on solicitorAwaitingPaymentConfirmation and Submitted states
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-share-a-case-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-803

#806 DIV-6869: solicitor should be able to delete 'RespondentOrganisationPolicy'
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-resp-journey-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-806

#805 DIV-6852: extended DivorceServiceApplication for bailiff fields
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-bailiff-nonprod.json
  definitions/divorce/json/ComplexTypes/ComplexTypes-bailiff-nonprod.json
  test/unit/utils/dataProvider.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-805

#812 [NO-CCD] Rpet 533 708 773
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-812

#814 DIV-6874: LastServiceApplicationType field added to filter by Bailiff Service
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-bailiff-nonprod.json
  definitions/divorce/json/CaseField/CaseField-bailiff-nonprod.json
  definitions/divorce/json/SearchInputFields/SearchInputFields-bailiff-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-814

#817 DIV-6878: Make additional comments optional
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-817

#818 DIV-6885: CAA permissions to all states
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-share-a-case-nonprod.json
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-818

#822 [NO-CCD] Reverts RPET-533
  definitions/divorce/json/CaseEvent/CaseEvent.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-822

#813 [NO-CCD] Update resp journey to use brexit fields
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-prod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-813

#823 DIV-6887: move PetitionerOrganisationPolicy for event solicitorUpdate to SaC release
  definitions/divorce/json/CaseEventToComplexTypes/CaseEventToComplexTypes-resp-journey-nonprod.json
  definitions/divorce/json/CaseEventToComplexTypes/CaseEventToComplexTypes-share-a-case-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-share-a-case-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-823

#821 DIV-6852: Add BailiffApplicationGranted to complex type
  definitions/divorce/json/ComplexTypes/ComplexTypes-bailiff-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-821

#809 DIV-6559: Share a Case RELEASE
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-share-a-case-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-share-a-case-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/divorce/json/AuthorisationCaseType/AuthorisationCaseType-share-a-case-nonprod.json
  definitions/divorce/json/AuthorisationCaseType/AuthorisationCaseType.json
  definitions/divorce/json/AuthorisationComplexType/AuthorisationComplexType-share-a-case-nonprod.json
  definitions/divorce/json/AuthorisationComplexType/AuthorisationComplexType.json
  definitions/divorce/json/CaseEvent/CaseEvent-share-a-case-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-share-a-case-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseEventToComplexTypes/CaseEventToComplexTypes-share-a-case-nonprod.json
  definitions/divorce/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-share-a-case-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField-share-a-case-nonprod.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/SearchCasesResultFields/SearchCasesResultFields.json
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
  test/unit/utils/dataProvider.js
Labels: RELEASE, ns:divorce, prd:div, rel:div-ccd-definitions-pr-809

#775 RELEASE RPET-269, RPET-567, RPET-559
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-775

#833 New test event: Add data required for DA
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-833

#777 DIV-6911/DIV-6533: RespSol complete AOS whilst bailiff in progress
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-bailiff-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-777

#834 DIV-6911: added solicitorDraftAOSBailiff
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-bailiff-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-834

#835 Revert "DIV-6911: added solicitorDraftAOSBailiff"
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-bailiff-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-835

#841 Fix Preview document upload
  README.md
  charts/div-ccd-definitions/Chart.yaml
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-841

#801 DIV-6857 Update to 'Record Judge cost order decisions'
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-object-to-costs-nonprod.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-801

#802 RPET-562: Adding DA Pending event and state
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/State/State.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-802

#832 DIV-6573: represented respondent journey RELEASE
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-prod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-resp-journey-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/AuthorisationComplexType/AuthorisationComplexType-resp-journey-nonprod.json
  definitions/divorce/json/AuthorisationComplexType/AuthorisationComplexType.json
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-or-resp-journey-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseEventToComplexTypes/CaseEventToComplexTypes-resp-journey-nonprod.json
  definitions/divorce/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-prod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField-resp-journey-nonprod.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-resp-journey-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-resp-journey-prod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  test/unit/utils/caseTabTypeHelper.js
  test/unit/utils/dataProvider.js
Labels: RELEASE, ns:divorce, prd:div, rel:div-ccd-definitions-pr-832

#831 DIV-6452 Bailiff
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-bailiff-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-bailiff-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-bailiff-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-bailiff-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-bailiff-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField-bailiff-nonprod.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-bailiff-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  definitions/divorce/json/ComplexTypes/ComplexTypes-bailiff-nonprod.json
  definitions/divorce/json/ComplexTypes/ComplexTypes.json
  definitions/divorce/json/FixedLists/FixedLists-bailiff-nonprod.json
  definitions/divorce/json/FixedLists/FixedLists.json
  definitions/divorce/json/SearchInputFields/SearchInputFields-bailiff-nonprod.json
  definitions/divorce/json/SearchInputFields/SearchInputFields.json
  definitions/divorce/json/State/State-bailiff-nonprod.json
  definitions/divorce/json/State/State.json
  test/unit/utils/dataProvider.js
Labels: RELEASE, ns:divorce, prd:div, rel:div-ccd-definitions-pr-831

#845 DIV-6833: Release Order to Costs
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-object-to-costs-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-object-to-costs-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/CaseEvent/CaseEvent-object-to-costs-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-object-to-costs-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField-object-to-costs-nonprod.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-object-to-costs-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  definitions/divorce/json/FixedLists/FixedLists-object-to-costs-nonprod.json
  definitions/divorce/json/FixedLists/FixedLists.json
  test/unit/utils/dataProvider.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-845

#847 DIV-6947: make sure [RESPSOLICITOR] can't access case in given states before submitted
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/divorce/json/CaseRoles.json
  test/unit/definitions/divorce/UserEventAuthorisation.test.js
  test/unit/utils/dataProvider.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-847
