Repository hmcts/div-ccd-definitions, pull requests merged in 2022-08, with the labels that each got.

#1008 Bump chart version to 8.0.17
  charts/div-ccd-definitions/Chart.yaml
  charts/div-ccd-definitions/values.preview.template.yaml
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-1008

#996 DFR-1148: Remove create and update user roles on hwfCreate event
  charts/div-ccd-definitions/Chart.yaml
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  test/functional/caseCreation_test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-996

#1010 Add backstage configuration file
  catalog-info.yaml
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-1010
