Repository hmcts/div-ccd-definitions, pull requests merged in 2022-03, with the labels that each got.

#973 DFR-919 Update CaseEventToFields.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-973

#980 Dfr 943 add regenerate d8 event
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-980

#901 DFR-72 Court Date mandatory
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField.json
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-901

#974 Dfr 886 disable solicitor create
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  test/functional/caseCreation_test.js
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-974
