Repository hmcts/div-ccd-definitions, pull requests merged in 2022-01, with the labels that each got.

#956 Dfr 627 update solicitor address field 2
  definitions/divorce/json/CaseField/CaseField.json
  package.json
  yarn.lock
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-956

#951 DFR-782: Add Manage Case to charts
  charts/div-ccd-definitions/Chart.yaml
  charts/div-ccd-definitions/values.preview.template.yaml
  charts/div-ccd-definitions/values.yaml
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-951

#957 DFR-833: Upgrade puppeteer
  package.json
  yarn.lock
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-957
