Repository hmcts/div-ccd-definitions, pull requests merged in 2023-01, with the labels that each got.

#1031 DFR-1712 bump dependencies
  package.json
  yarn.lock
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-1031

#1032 Dfr 1712 fix nightly pipeline
  package.json
  yarn.lock
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-1032

#1034 DFR-1492 bump nodejs version
  charts/div-ccd-definitions/Chart.yaml
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-1034

#1035 Dfr 1492 divorce patching
  charts/div-ccd-definitions/Chart.yaml
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-1035

#1037 DTSPO-12024 - Configure renovate
  .github/CODEOWNERS
  .github/renovate.json
  charts/div-ccd-definitions/values.preview.template.yaml
Labels: ns:divorce, prd:div, rel:div-ccd-definitions-pr-1037
